* {
  box-sizing: border-box;
} 

/* PopUp Backgrounds (light black) */
.JadenPopUp1, .JadenPopUp2, .JadenPopUp3, .JadenPopUp4, .JadenPopUp5, .JadenPopUp6, .JadenPopUp7, .JadenPopUp8, .JadenPopUp9, .JadenPopUp10, .JadenPopUp11, .JadenPopUp12, .JadenPopUp13, .JadenPopUp14 {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;  
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

/* Sizing for the popup contents of the Dietary restirctions and login popups */
.JadenDietPopUpContent, .JadenLoginPopUpContent {
  border-radius: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;  
  background-color: #fefefe;
  width: 40%; 
  height: 95%; 
  border: 1% solid #888;
}

/*Divs for the login buttons, inputs, and titles on the login screen*/
.JadenLoginPopUpDiv1{
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 89%;
  height: 16.5%;
}

.JadenLoginPopUpDiv2{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 13%;
}

.JadenLoginPopUpDiv3{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20.5%;
}


/* Input formatting for login */
.JadenInput{
  width: 90%;
  padding: 3%;
  font-size: 175%;
  border: 1% solid #ccc;
  border-radius: 15px;
}


/* Meal Restriction popup stuff */
.JadenDietPopUpContentTitle {
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  width: 100%; 
  height: 14%; 
  border: 1% solid #888;
}

.JadenDietPopUpContentButtons1 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;  
  background-color: #fefefe;
  width: 100%; 
  height: 15%; 
  border: 1% solid #888;
}



/*  Meal restriction buttons */
.JadenDietPopUpContentButtonMeals1 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  width: 20%; 
  height: 100%; 
  background-image: url('https://i.imgur.com/lFBypfi.png');
  background-size: 85% 85%;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.JadenDietPopUpContentButtonMeals2 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 20%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/22RTwWh.png");
  background-size: 85% 85%;  
  background-repeat: no-repeat;
  background-position: center;  
  opacity: 0.5;
}

.JadenDietPopUpContentButtonMeals3 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 20%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/tWA3x5N.png");
  background-size: 85% 85%; 
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;  
}

.JadenDietPopUpContentButtonMeals4 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 20%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/Zc4Ak19.png");
  background-size: 85% 85%;  
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 0.5;
}

.JadenDietPopUpContentButtonMeals5 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 20%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/u2snTD8.png");
  background-size: 85% 85%;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;  
}






/* Deitary restrictions popup stuff */
.JadenDietPopUpContentText {
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  width: 100%; 
  height: 7.5%; 
  border-top: 5px solid black;
  border-bottom: 5px solid black;

}

.JadenDietPopUpContentButtons2 {
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  width: 100%; 
  height: 40%; 
}

.JadenDietPopUpContentButtons2Row1 {
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  width: 100%; 
  height: 50%; 
}

.JadenDietPopUpContentButtons2Row2 {
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  width: 100%; 
  height: 50%; 
}



/* The Buttons for I Am Alergic To... */
.JadenDietPopUpContentButtonAllergic1 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/46yw2vM.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}


.JadenDietPopUpContentButtonAllergic2 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/Vijt9B4.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}


.JadenDietPopUpContentButtonAllergic3 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/DALnbFT.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}


.JadenDietPopUpContentButtonAllergic4 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/lf45OdN.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 0.5;
}


.JadenDietPopUpContentButtonAllergic5 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/yva8odt.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5; 
}


.JadenDietPopUpContentButtonAllergic6 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/EB0EYMF.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center;  
  opacity: 0.5;
}


.JadenDietPopUpContentButtonAllergic7 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/vkJoYFU.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 0.5;
}


.JadenDietPopUpContentButtonAllergic8 {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: #fefefe;
  width: 25%; 
  height: 100%; 
  background-image: url("https://i.imgur.com/53o9pfW.jpg");
  background-size: 90% 90%;  
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 0.5; 
}







/* The Save and Ok Buttons for Dietary Preferences */
.JadenDietPopUpSaveOk{
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  width: 100%; 
  height: 16%; 
}

.JadenDietPopUpSave{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 35%; 
  height: 100%; 
}

.JadenDietPopUpSpace{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  width: 10%; 
  height: 100%; 
}

.JadenDietPopUpOK{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 35%; 
  height: 100%; 
}







/* This is the styling for the popup windows for the food */
.JadenPopUpContent {
  border-radius: 3%;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fefefe;
  width: 80%; 
  height: 80%; 
  border: 1% solid #888;
}

.JadenOneHalf {
  border-style: solid;
  border-radius: 3% 0% 0% 3%;
  width: 50%;
  height: 100%;
}

.JadenPopUpImage{
  width: 100%;
  height: 100%;
  border-radius: 3% 0% 0% 3%;
}

.JadenTwoHalf {
  border-radius: 0% 3% 3% 0%;
  width: 50%; 
  height: 100%;
  border-style: solid;
}

.JadenPopUpRightBox{
  flex-wrap: nowrap;
  display: block;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0% 3% 3% 0%;
}

.JadenPopUpRightTitle{
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
}

.JadenPopUpRightText{
  font-size: 300%;
  color: black;
}

.JadenPopUpRightNut{
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.JadenPopUpRightImage{
  width: 90%;
  height: 95%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

 /* These are the exit buttons for the popups */
.JadenExitImage:hover,
.JadenExitImage:focus, 
.JadenExitOtherPopUp:hover,
.JadenExitOtherPopUp:focus {
  color: #000;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}

.JadenExitImage{
  border-style: solid;
  border-color: black;
  position: fixed;
  background-color: #cc0d06;
  border-radius: 0%;
  font-size: 400%;
  vertical-align: text-top;
  font-weight: bold;
  text-align: center;
  width: 5%;
  height: 10%;
  left: 87.5%;
  top: 6%;

}


.JadenExitOtherPopUp{
  border-style: solid;
  border-color: black;
  position: fixed;
  background-color: #cc0d06;
  border-radius: 0%;
  font-size: 400%;
  vertical-align: text-top;
  font-weight: bold;
  text-align: center;
  width: 5%;
  height: 10%;
  left: 67.5%;
  top: 0%;

}





/* Sizes the page (made it flexible so that it transfers over easily on the templates) */
.JadenMetzMenuPageBox{
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  background-color: grey;
  width: 100%;
  height: 150vh;
  padding-left: 4%;
  padding-right: 4%;
}





/*General boxes to help move around p tags (as doing it without these causes problems)*/
.JadenWordFitter{
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  width: 75%;
  height: 45%;
}

.JadenWordFitter2{
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  display: flex;
  width: 59%;
  height: 45%;
}


.JadenWordFitter3{
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  width: 59%;
  height: 45%;
}








/*Formatting for the bar of the top page, where Date Selecter, Deitary Preference Chooser, and Login*/
.JadenDatePicker-Login-FoodProfile {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 22%;
}

.JadenDatePickerProfileBox{
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  display: flex;
  width: 33%;
  height: 100%;
}

.JadenBlueOvalBox1{
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #1CABFF;
  border-radius: 10%;
  width: 90%;
  height: 72%;
  border-style: solid;
}



/*Choose button format*/
.JadenOrangeOvalBox{
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #FFAC1C;
  border-radius: 10%;
  width: 50%;
  height: 45%;
  height: 45%;
  border-style: solid;
}



/*Login button format*/
.JadenBlueOvalBox2{
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  background-color: #1CABFF;
  border-radius: 10%;
  width: 65%;
  height: 72%;
  border-style: solid;

}


/* This section has to do with the login and profile pic */
.JadenAccountPic{
  display: none;
  width: 30%;
  height: 70%;
}

.JadenFoodProfileBox{
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  width: 33%;
  height: 100%;
}

.JadenLoginProfileBox{
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  width: 33%;
  height: 100%;
}

.JadensLoginText{
  display: flex;
  color: white;
  text-align: center;
  font-size: 300%;
}

.JadensLoginPopUpText{
  display: flex;
  color: black;
  text-align: center;
  font-size: 300%;
}




/* General button formats */
.JadenButton{
  width: 80%;
  height: 70%;
  background-color: #1CABFF;
  border-radius: 5%;
  color: white;
  text-align: center;
  font-size: 175%;  
}

.JadenButton2{
  width: 95%;
  height: 60%;
  background-color: #1CABFF;
  border-radius: 5%;
  color: white;
  text-align: center;
  font-size: 125%;  
}

.JadenButton3{
  width: 95%;
  height: 60%;
  background-color: #1CABFF;
  border-radius: 5%;
  color: white;
  text-align: center;
  font-size: 125%;  
}





/* Formatting for the Pick Meal Time: bar */
.JadenLunchDinnerBreakfastBar {
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12%;
}

.JadenLunchDinnerBreakfastBarFirstBox {
  justify-content: space-around;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 22%;
  height: 100%;
  border-radius: 5% 0% 0% 5%;
  background-color: black;
}

.JadenLunchDinnerBreakfastBarOtherBox {
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 19.5%;
  height: 100%;
  background-color: black;
}

.JadenLunchDinnerBreakfastBarLastBox {
  justify-content: space-around;  
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  width: 19.5%;
  height: 100%;
  border-radius: 0% 5% 5% 0%;
  background-color: black;
}






/* General text formatting */
.JadensGeneralText{
  display: flex;
  color: white;
  text-align: center;
  font-size: 200%;
}



/* All the boxes and rows for the food pictures to be displayed */
.JadenAllFoodDisplayedBox {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 67%;
  width: 100%;
}

/* Row for splitting the pictures into 1 row of 4 */
.JadenFoodDisplayRow {
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 99%;
}


/*First row of pictures*/
.JadenFoodDisplayBox1 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;
  border-style: solid;
  background-image: url('https://lh3.googleusercontent.com/NzHY3Ahqi4tQpMwxVDDlMGEa7gl6--WJvx4cHXk5Lq_Au-Nza3KZX16IyvoTFWHzmnUEUwzdfqu1o5penH9IcmvRu9ru0sc6NTzMs0emnz-I8WXmnaLfJmMmUQZTe4OSS56pjWmNQYUabd_KYoFz71LfFntCfileRvarUw7DcyyJv6JuQYY8sbsmHfloMovoO1Xt56QQOXf2eM-RpZMEMA7K_jsxVCOS-CbPNhT35y6q6tI60ZFMUyXZ6wLqkSt4d-sTCYxryzHxA1dUvCqhToZP7PsAS7TCpJBs3whBvVFWBexXx2WFz-MWIjXnPJRKcLFS6CyJomqQ8-02HUCkcizlrdByHS0DTe_9zRsIQWzpQWwk1BqsgKWfDwud_LLCn21rA3rIcE_RhhfTcvT6ZqhDXc3znqPJxsKVC7RGl0CEO7cwjEec8Te5XqTCV4tCuV67eoFI87hAnkevRaN974Nhjg799Va-ux682Zw3dkOWG7vWYocbwpchiuQUkGpOQrNDFVjMP1JcFDipBheVxColB_ZVvGkSfYNX7hdwUjAuICleUpv1Ho_x9xIB5xgfmeRSLRyOOwNsh183hV4gTxoo96LAPK6NjQ3NiYUEGaNz12NSQmvoY2SQHc1_RqmmqkkcXZBwIpsxggdxadNIG1IGdXKvcgNl07lCg-O8paCR9JHhQjuUZXgRJ-XYJ6ql2m3Ti5Qq00kkS3pqn-Oup-gx=w1317-h890-no?authuser=2');
  background-size: 100% 100%;
}

.JadenFoodDisplayBox2 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;  
  border-style: solid;
  background-image: url('https://lh3.googleusercontent.com/0ChLok8Zz9GIU_bXSHaR_-LAOGve1nprwFYQ7F0xjqOHXuZJOG1XlUqx4sZ_kwX4FnB6_ZAxdzclWdmmIG6JgQgGBase3SVS5c_-i1eNC0lNi_npc6yDYDsYFUGa3dxrlw1GLe2HMaDJWDZJBducgl4jkkIUhpC0Q8Sib-gEwFCv9dZE5UcK6r_ByoN61F-NkEYlUb5PPMQfzJpCeGbVh2dX_9rgU2kaX0oaUufxQF2PRkOhqDZQIlXHAd4n5HbS5gAzzEq13e_8atjS_xw5w5XsXQbvZInTO4yfmmxQZrXPzsRJq4VbhtnaqXCaG6N7v2lDWiNJJKCp14lKPtwk5282qJOAkSu0X25xw0HdHbz36sESDXWWGGE-yQW2L_EJXmrszF1jcK-RM1SlHNfHEdIxuraAY9_7hBcf0oyWU7m1zP66muNyYFhQ7Ss-qNeVFBj8iY_owU_n7BGIBfg0z20gYTj7TijQmdQZEpfKExm3Z8zx4TJMWJpGDNHlUeR2nDoywFdClj4BNQq4_B-G1Dw3EqPHcRJlbkAtOu_3vttjeGKIU4yxj2_nSl6z6LETrSaVbw9tOU5frzI5NGXAwfuoYk4a8J1aFbeiRzpEN8gp3rADmeXdCD__QZGNHc-pO3ILl7oOfxS6xCW1kAJ52fha76PIZcG9rLW9pnNDbjg08UHHeYGt-KmHijDqQ0Fk9ZEk2WhHDrnYcEPmDCOS2P5H=w1027-h890-no?authuser=2');
  background-size: 100% 100%;
}

.JadenFoodDisplayBox3 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;  
  border-style: solid;
  background-image: url('https://lh3.googleusercontent.com/wWaaZuYqgNIe2sZWXIE1ls_LMIoc3Dm1k_H2JZ9ihWIIAemftHH4r3je33DXka_AbrhXrxr7FCB7SWTsG43140MnvLbmN3Tm0Q6kknuUFiDuhsoWzFyxJonQx3suoyvnGZ-ECkOhjT5kBjFiaZPm_S31ZyVRYt3yaKb20IrWRIkIcnU3JcqxNbF0vJ8_VsBJ7h33k7DOOAi4g-TJlcG9y9lH3KquihyhNJKqjhUqwXJhBSI_-xGT57XVb1kjmBZH_1EjqkN52vor7vdyYzIe9cmQTJiZ2Lg1mPp8PsHNxraTX4oCfMWOYdwl98PbOql0WMR1IPO-udL4l7FS6Cbqww8Xe7KkYIa5BpUA9hbD2RAGl6REc1M_hXPLPW6HnxHfyvY_it0cNEEmWDrVCmx4HI8n6LLGecTZCKsy7uBH1zqAxlB40wAIfIWKlavodiGMfUYiXjZztZ9Cja4NnhDjWggj7eHgsMiYw0DkSuk71ogU5a6dtIYp8HyXlteFHM7cpWtZjzRV92qFCEXTGQ37AUJzY2OtYgRPWwAiTzmG5e8adVcVXHRoPE77Mg4PRvrGgKayhO-RLRpmJr55ktqidpvWsC5iPFz1wW9NX0gVB-FPfdyUV5NN1pQdNkKik0bkTEumhHW8yioSzARlq-7CLQBv217H8f8HYKMauYzJFnAixW9CIvs66j76gyccdRzQic3YTOh13-MUd4MAZgXA7Hw0=w834-h890-no?authuser=2');
  background-size: 100% 100%;
}

.JadenFoodDisplayBox4 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;
  border-style: solid;
  background-image: url('https://lh3.googleusercontent.com/0y_Q-ZZl4c9VPSnfkLrbykCOE2c6u1j5Cd9cgiuErTZxuuKWE7mLbKCgm02s9DZkku8FKkgjkiTf8n527ECqLHXkgcitl0DSGTIXi6bRM5CLHQLRVzv5wVbW9u5cTBJVucQsW-L-Om7_tGMDej3HDIlFVoMtj0Zl22il-SOu6MPt8koAhaniHHQepN1fjhPJU9krK7U4F9bl-JGfnb7JTri9WQPkrWXaKZKB3PR4Wr-wh7Ne23945iQaewDU3xaSvo4guvtYS-t_Tg999LV54RqDnE8S6ozsBs8j73ONphscN2DEkxV1r4-QuH5SJv9q2L1Csjvg24qGDz8dusT4GGDzpUcjmj8VAItUIjcCgJ9kiIlz2Orl_xcV95Xbsj5KUsCOPc-NX6dnfoxHbmq_SBKEgpvI_jdL6Qyj11ERdvqZtI6dZxCFFJ7d3gT3-Uuf2KBPVnu-uV_YTJz14sb2oKVhUOGSZX9Z6GULNlrQRL6rieiHmV5eJ2wQp1oFZ-ZjkqK0mdj0Zi5Vcfr2ZoKhY0pD_I2IWM1sKbUaYSPkLXaomRj8DlwlQ-1K_5-SL7yGmlnxHxgBx26CgqBbiOcs10J-5vhyQrxKE2RFHU9l8ZD8e-chSjoT_skwmYjatKwTXjjVI5_aduWLqlIKG5njLv-QgfcLDl5LgISmRoqVZh6hhaVqIx7n_ocL2i3BulOvw7A2ogJ8kzsciShrANWnVxoQ=w1160-h890-no?authuser=2');
  background-size: 100% 100%;
}


/*Second row of pictures*/

.JadenFoodDisplayBox5 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;
  border-style: solid;
  background-image: url('https://lh3.googleusercontent.com/5jL3ZUzvf49OI1buZrIbre_FcDcgfcT288b-cCgmG2_MQVVPjGRF5AfdQEuvSWxFNlTUzefh-2lhyKTMbszxoh0MbziNL_iABbUMIRZdkQrrfhsjFW6swKk1lfYnwLgPWpfDmO2xCAMKE_zIWBKUbHMUEtuIaxogy6oKFA82egcxRXTiUrqJPQBWFaybYFTssoxx_t8i6I7fcYQeNwTdc6LxsWPoPxiYFGrSPpRYT908ZVzkBm-fMyGkry1Mc0hFPDx4USbxqfhgrjzWobckE1SB9w6E3KdJNyLqdViH2JKzaqM8eiNAamvFWmgq6TQjYrYoG4rnD-aZE1xiKp4HNFYS8YWV_HnS5XMwzhKsCg2MWLUETpcacS7JUQAQuhl7GKwS0fwVgVPyisNLadaoaZV0Taqg0_pNUlbnJ0PIML3D6_D0lX-UrR-NWDuOH1DsFoQY6PBwKA60oMCKpmqd5422nNYQHqTyP92NoH19oXtFGjFisdBQP96axiUspRvLuduEg6YjWd5xqjfY3BQU27t2zqr7CBFtEeip6RolR5AJuN5vk5tQD3YUWY13BGEYayVtcnvUiXrMw7rv_MIeq5rd0odQrJSR3oytSZzbb-FNC5PBB3c-OUpxY8TOAU2vmhDdD4_RaXmlTlW1xLchUKRgtQt5BsaAkoUqMUP6TAty77BKs-IuvyHYwQm89Nd3fx_XVAR83eICdiVPTL2Us8ba=w824-h660-no?authuser=2');
  background-size: 100% 100%;
}

.JadenFoodDisplayBox6 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;  
  border-style: solid;
  background-image: url("https://lh3.googleusercontent.com/qmCXetlRbBjHZ1RA6QDUX3xq7VzJ0eU4DuVcv-BeCoVTt3H6qs0CqAI4pA9xVzysMMAJT5F0XuwlD7LfBgr02-TMuKqUXKdplOsTH1RIuc8gNbcPmqG_M21KhMMW3TEzPdO2nzbfFJpYd7VuU7q9LovoMLERwhX--9vJuxJ_raezAkQRjXR8HEzo6_TtwZC_hDVEakaaF5NKvLMtD6MwT4QOE6kIH34iqL9XjmlXYq20ntyvbJ22vclVzvU6gcb3rcK-fZABnSkhjxGgGDABFsYNurOsIDKjufbMk8oOH3xcluQNs-J0yoaZzqDQJ8S3nU6KA4snXU53wqpS42Hm9FhmNEO7Dw4AGUEWnMKpb3WD7K0XWMSNcDPHAwkuQ94Wv1Ke6LnImeWqCF7UJtIy9pZ3PqeU0AhbbPVccuTUQ5LBJwsn2GpmNs5AO6MWY-t_fwAaX-ezfxThjoBR3fO17_F3CHnObjTfCv9DecgIfaWEEOqyKmJMaGPUqEhyQE_l8vwmipmCVS0ggcP2tLh90g97OjneeA05lyT3Oas9UHnK6T1YO4S33FCzqOU4KMfzWn5WyqYsRxi7UTswiiD3x2OyPT0FSkdGCQ_4mw5PddAltEL9CUye23OGmwbzwAKE7UngPGdfV1CciHfgHB1Cwfe8acHo9EFwYQIrsAktsSNYQIxjPlBM3wvkSTiop1VvQ5syAAOfeK2p-sPhinLEHLvD=w903-h890-no?authuser=2");
  background-size: 100% 100%;
}

.JadenFoodDisplayBox7 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;  
  border-style: solid;
  background-image: url('https://lh3.googleusercontent.com/hD4W4jUSScuzZziOAMT26euVk72CpeUGO6dt6OE8FriHKSGmOr8C17KyCouE_6wRtqU4rfO5baC-XlEMdtkNbNZwkK6lMMN6ztk_j7x5WVPTM2YQMaDPjAV4w9_ny2wHnPWBn7bwjb4UnmgA5jztRZfhxI16YNF8znm91ifOwbiA6QmjLn_LvvmmaawTOrvdiUtGmKwj1kZzdBLr7qWSYaaGDSY9kjetQBqN-JDwl8olpotfq-FB1RasDqv-WlFhq1PMfKGz3otxcfLez_v8W1gqxOnayLWajBrKvUb6hYXAmv6rWQijh4fGuirBbrGaPCFEy-Reh-mBPJ2ENcbdLTKansi16p9hvDIfeC6XDWxqKtZuYazv86k8CTaFOjTDFFYdl5_SepTuSwxKmEFvYrhFHovVfwPw0e-Pq74lxlGEAwAPKE5Z0kxGGk4atCzvYH-W_pfgNLwI7yWqz-rnTDfyJJG98B-qjzjhm-HmTqZ2jw2Q4RNMMIFIIErWDuEoP7Hj8YRvUcdDDqswouQZs2nZnGt0s1QzhhUwxCHiv-FsPvFsyUQ84h8vIhNZ_zLEzFCs717rcT5sMTLDGb0CF8HKnLDMN3QjS0Kmv-vWqgGPSQp2Hg6BdsRAO-NqePTm_rmq6AOc4W6LnMtaBN_G1wpm9F9re-T_JxJ7v6PwH4AQ2ehJ5mnq4-JHR1naQ87e-E4Frffz1Qy4khctvIGPPpun=w1094-h890-no?authuser=2');
  background-size: 100% 100%;
}

.JadenFoodDisplayBox8 {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  display: flex;
  height: 82%;
  width: 21%;
  border-radius: 7%;
  border-style: solid;
  background-image: url('https://lh3.googleusercontent.com/tceJuYaXPpUhqhQniwtQ9LzbbgGvdk8V13fGUefRHCJjGrYWXJuZFK47WoZLVc9zV4IEuTM0474Oe1BgnHtGKEldbRpdjiXF2xtWSCWj9pIjXPhZsOOxnstW-3sbvl6ykEw8MyhIiiQ-kW56h_EhIovui7BsnAIlohBpkC3gMJTy1COxGzVb5F90qPUJg4P6RNDDGvGk672-G0Q_K5iPFY1XgJzTAprsdy2o90A9m4pfIFPJHjs823RG1sL5AwaWoiXe0W46QdqovovxDdU9SZ4Ot1q6xPIsdadi8aFbbdF6GHwdw9qj33GUJZ3cly_iW_iAuQLzzB2tKPLUNxkW4w4Zfufe-pvqHE3qqLIRqElMm6K2HjXat76JM751VqEPWWwAE4sNwJKLyNXGEPwccyjIcuTv7yS-qI4q5ZU_jwjXz1SQaDqTUH3dn2jyw03-SjU9tBDLQPFRBdhdq1hm_R2_uHHPQUH9ZwrFxu3M52Z2Oe1w_AHQ23dOac99kW_XjpVViOt4zfYCSVX4CeQY0BTIOLAghPbbpuJgpsLqh_2JDydD4lEklLJPP_gW-Dl4dTwgDmu9DMR4CMdpR5DQo2RFN5LFgFJsatfPsQ6PzSI0FlKQybDlKv978Gb26rDAWboVB9tQZ7fr9foEnHUocyTvGrkzThncI3aw80X-97ibJccfDvMhtl-jlr3BUOe6LKLi5EJzx84nw85jXKR91AXr=w808-h604-no?authuser=2');
  background-size: 100% 100%;
}


.JadenFoodPictureName{
  color: white;
  font-weight: bold;
  font-size: 125%;
  text-shadow: 0em 0em 0.5em black;

}

.JadenDateOptions{
  width: 90%;
  height: 85%;
  font-size: 175%;
  text-align: center;
}



/*Dietary Restrictions stuff*/
.JadensDietTitle{
  display: flex;
  flex-wrap: nowrap;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 275%;
}

.JadensDietText{
  display: flex;
  flex-wrap: nowrap;
  color: black;
  text-align: center;
  font-size: 150%;
}
